include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt
recursive-include entities *.py
recursive-include game *.py
recursive-include systems *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude *.pyd
global-exclude .DS_Store
global-exclude *.so